@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("./common.css");
.main_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.main_wrap .main_text {
  text-align: left;
}
.main_wrap .main_text h2 {
  font-size: var(--font-xl);
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateX(-400px);
  animation: right_move 1.2s forwards ease-in-out;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.main_wrap .main_text p {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 4rem;
  opacity: 0;
  transform: translateX(-400px);
  animation: right_move 1.4s 0.2s forwards ease-in-out;
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
}
.main_wrap .main_img {
  width: 55%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(80rem);
  animation: left_move 1.8s forwards ease-in-out;
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}
.main_wrap .main_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_btn {
  border-radius: var(--border-radius);
  background: var(--main-color);
  opacity: 0;
  transform: translateX(-300px);
  animation: right_move 1.3s 0.4s forwards ease-in-out;
  transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.main_btn a {
  font-size: var(--font-s);
  padding: 2rem 7rem;
  color: #fff;
}
.main_btn:hover {
  box-shadow: 0 7px 3px -6px rgba(19, 127, 132, 0.4), inset 0 0px 10px 1px rgba(255, 255, 255, 0.5), 0 -10px 2px -1px rgba(255, 255, 255, 0.6), inset 0 4px 10px 0 rgba(19, 127, 132, 0.4), inset 0 0 5px 1px rgba(255, 255, 255, 0.6);
}

.info_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
}
.info_wrap::before, .info_wrap::after {
  content: "";
  display: inline-block;
  position: absolute;
}
.info_wrap::before {
  top: 150px;
  right: 20px;
  width: 42px;
  height: 42px;
  background: url("../images/box30.png");
  opacity: 0;
  animation: spin 5s 1.5s infinite;
}
.info_wrap::after {
  top: 80px;
  left: 20px;
  width: 42px;
  height: 42px;
  background: url("../images/box30.png");
  opacity: 0;
  animation: spin 8s 1s infinite;
}
.info_wrap img {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
  animation: right_move 1.5s ease-in-out forwards;
}
.info_wrap .info_text {
  position: relative;
}
.info_wrap .info_text::before, .info_wrap .info_text::after {
  content: "";
  display: inline-block;
  position: absolute;
}
.info_wrap .info_text::before {
  top: -80px;
  right: 0;
  width: 161px;
  height: 52px;
  background: url("../images/cloud1.png") no-repeat;
  transform: translateX(-161px);
  transition: opacity 1.5s ease, transform 1.5s ease;
  animation: left_move 1.5s ease-in-out forwards, cloud 6s infinite linear;
}
.info_wrap .info_text::after {
  top: -30px;
  left: 0;
  width: 42px;
  height: 42px;
  background: url("../images/box30_2.png");
  opacity: 0;
  animation: spin 6s infinite;
}
.info_wrap .info_text .tit {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 5rem;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
  animation: left_move 1s ease-in-out forwards;
}
.info_wrap .info_text p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1.5s ease, transform 1.5s ease;
  animation: left_move 1.5s ease-in-out forwards;
}
.info_wrap span {
  opacity: 0;
  animation: spin 6s 2.2s infinite;
}

.process_container {
  padding: 5rem 2rem;
}
.process_container h2 {
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 12rem;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.process_container h2.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.process_container .process {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
}
.process_container .process .process_item {
  position: relative;
  width: calc(100% / 4);
  height: 250px;
  padding: 4rem 2rem;
  background: #fafafa;
  border-radius: 15px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 1s ease, transform 1s ease, background-color 0.3s ease;
  cursor: pointer;
}
.process_container .process .process_item.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.process_container .process .process_item:nth-child(2) {
  transition: opacity 1.4s ease, transform 1.4s ease;
}
.process_container .process .process_item:nth-child(3) {
  transition: opacity 1.8s ease, transform 1.8s ease;
}
.process_container .process .process_item:nth-child(4) {
  transition: opacity 2.2s ease, transform 2.2s ease;
}
.process_container .process .process_item .process_number {
  display: block;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: var(--font-m);
  font-weight: 600;
  padding: 1.5rem;
  color: #fff;
  background: var(--main-color);
  border-radius: 50%;
}
.process_container .process .process_item .process_tit {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 2rem 0 3rem;
  transition: color 0.3s ease;
}
.process_container .process .process_item .process_subtit {
  font-size: 1.6rem;
  line-height: 1.4;
  transition: color 0.3s ease;
}
.process_container .process .process_item:hover {
  background: var(--main-color);
}
.process_container .process .process_item:hover .process_tit,
.process_container .process .process_item:hover .process_subtit {
  color: #fff;
}

@keyframes right_move {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes left_move {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes cloud {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(5%, 20%);
  }
  100% {
    transform: translate(0);
  }
}
@media screen and (max-width: 1024px) {
  .main_wrap {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .main_wrap .main_text {
    align-self: flex-start;
    padding-left: 13rem;
  }
  .main_wrap .main_text h2 {
    font-size: 7rem;
  }
  .main_wrap .main_text p {
    font-size: var(--font-l);
  }
  .main_wrap .main_img {
    width: 80%;
  }

  .main_btn a {
    font-size: 3.6rem;
    padding: 2.4rem 8rem;
  }

  .info_wrap {
    justify-content: space-between;
    height: 70vh;
  }
  .info_wrap img {
    width: 50%;
  }
}
@media screen and (max-width: 780px) {
  .main_wrap .main_text h2 {
    font-size: var(--font-xl);
  }
  .main_wrap .main_text p {
    font-size: var(--font-m);
  }

  .main_btn a {
    font-size: var(--font-m);
    padding: 2rem 7rem;
  }

  .info_wrap {
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .info_wrap img {
    width: 80%;
  }

  .process_container .process {
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 4rem;
  }
  .process_container .process .process_item {
    width: 49%;
  }
  .process_container .process .process_item .process_number {
    top: -10%;
  }
}
@media screen and (max-width: 480px) {
  .main_wrap {
    align-items: flex-start;
  }
  .main_wrap .main_text {
    align-self: flex-start;
    padding-left: 0;
  }
  .main_wrap .main_text h2 {
    font-size: var(--font-l);
  }
  .main_wrap .main_text p {
    font-size: var(--font-s);
  }
  .main_wrap .main_img {
    width: 100%;
  }

  .main_btn a {
    font-size: var(--font-s);
    padding: 1.8rem 6rem;
  }

  .info_wrap::before, .info_wrap::after {
    display: none;
  }
  .info_wrap img {
    width: 100%;
  }
  .info_wrap .info_text .tit {
    font-size: 3.3rem;
    line-height: 1.2;
  }
  .info_wrap .info_text::before, .info_wrap .info_text::after {
    display: none;
  }
  .info_wrap span {
    display: none;
  }

  .process_container {
    padding-top: 7rem;
  }
  .process_container .process {
    column-gap: 0;
  }
  .process_container .process .process_item {
    width: 100%;
  }
  .process_container .process .process_item .process_tit {
    padding-top: 4.5rem;
  }
}